@page "/counter"

@inject IThemeProvider themeProvider;
<PageTitle>Counter</PageTitle>

<ButtonComponent Title="Default" OnClickEvent="@onBtnPress" Classes="btn-danger" />
<ButtonComponent Title="Dark" OnClickEvent="@onBtnPress" Classes="btn-danger" />
<h2 style="color:@current.Primary">Color</h2>

@code {
    private ITheme current;
    protected override void OnInitialized()
    {
        current = themeProvider.GetCurrentTheme();
    }

    public void onBtnPress()
    {
        if (current is DefaultTheme)
            themeProvider.ChangesTheme(EnumThemes.Dark);
        else
            themeProvider.ChangesTheme(EnumThemes.Default);
        Console.WriteLine(current.Primary);
    }
}
