@page "/"
@inject IThemeProvider themeProvider;

<PageTitle>Index</PageTitle>
<ButtonComponent Title="Default" OnClickEvent="@onBtnPress" Classes="btn-danger"/>
<ButtonComponent Title="Dark" OnClickEvent="@onBtnPress" Classes="btn-danger" />
<h2 style="color:@current.Primary">Color</h2>

@code{
    private ITheme current = new DefaultTheme();

    public void onBtnPress()
    {
        if (current is DefaultTheme)
            current = new DarkTheme();
        else
            current = new DefaultTheme();
        Console.WriteLine(current.Primary);
    }
}